{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login/styleresetpassword_complete.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="left_area">
            <a href="/" style="text-decoration: none; color: white;"><h3>QC<span>Sama</span></h3></a>
        </div>
        <div class="right_area">
            <a class="auth_btn" href="{% url 'demoregister' %}" style="color:white;">Đăng kí </a>
            <a class="auth_btn" href="{% url 'login' %}" style="color:white;">Đăng nhập </a>
        </div>
    </header>




        <div class="login">
            <h1>Đặt lại mật khẩu thành công</h1>
            <a href="{% url 'login' %}" style="color: white;">Đăng nhập</a>
        </div>


<!--    Facebook, YTB-->

    <div class="content">
            <br><br><br><br><br><br><br>
        <div class="wrapper">
            <div class="button">
                <div class="icon">
    <!--                <i class="fab fa-facebook-f" style="color: black;"></i>-->
                    <a class="link" href="https://www.facebook.com/Quyetsama28/" target="_blank" style="text-decoration: none;"><i class="fab fa-facebook-f" style="color: black;"></i></a>
                </div>
                <a href="https://www.facebook.com/Quyetsama28/" target="_blank" style="text-decoration: none; color: white;">Facebook</a>
            </div>
        </div>

                <br><br><br><br><br><br><br>

        <div class="wrapper1">
            <div class="button1">
                <div class="icon1">
                    <a class="link1" href="https://www.youtube.com/channel/UC4AiEFkzAKHTp5IKPtq-y1A?view_as=subscriber" target="_blank" style="text-decoration: none;"><i class="fab fa-youtube" style="color: black;"></i></a>
                </div>
                <a href="https://www.youtube.com/channel/UC4AiEFkzAKHTp5IKPtq-y1A?view_as=subscriber" target="_blank" style="text-decoration: none; color: white;">Youtube</a>
            </div>
        </div>
    </div>

</body>
</html>








